@model UniversityOfRoommates.Models.RegisterViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
@{
    ViewBag.Title = "Registrazione";
}



@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    
  


    <div class="back">
        <div class="login-wrap">
            <div class="login-html">
                
                <h2 style="color:azure">@ViewBag.Title.</h2>
                <h4 style="color:azure">Creare un nuovo utente.</h4>
                <div class="form-group">
                    <label class="UtenteFont">Posta elettronica  </label>
                    <div class="group">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="UtenteFont">Password</label>
                    <div class="group">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="UtenteFont">Conferma password </label>
                    <div class="group">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="UtenteFont">Nome  </label>
                    <div class="group">
                        @Html.TextBoxFor(m => m.nome, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="UtenteFont">Cognome </label>
                    <div class="group">
                        @Html.TextBoxFor(m => m.cognome, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @*@Html.LabelFor(m => m.sesso, new { @class = "UtenteFont" })<br />*@
                    <label class="UtenteFont">Sesso  </label>
                    <div class="UtenteFont">
                        <div class="checkbox">
                           
                           
                            
                                @Html.RadioButtonFor(m => m.sesso, true) Male <br/>
                                @Html.RadioButtonFor(m => m.sesso,false) Female<br />
                                
                           
                           
                          
                          
                       
                           
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="UtenteFont">Numero di telefono  </label>
                    <div class="group">
                        @Html.TextBoxFor(m => m.cell, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="UtenteFont">Città di provenienza  </label>
                    <div class="group">
                        @Html.TextBoxFor(m => m.cittàProvenienza, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                  
                    <label class="UtenteFont">Data di nascita  </label>
                    <div class="group">
                        <input type="date"id="ciao" class="form-control">
                        @*@Html.TextBoxFor(m => m.ddn, new { @class = "hidden", id = "c"})*@
                        @*onchange="dataFun()*@
                    </div>
                </div>
               

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Registra" />
                     
                    </div>
                    <br />
                    @Html.ValidationSummary(" Risolvi:", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
               

}
<script >
    var dataFun = function () {
        var a = document.getElementById("ciao").value;
        a += " 00:00:00.000";       //var a = new Date();
        //a= a.getDate() + "/" + parseInt(a.getMonth() + 1) + "/" + a.getFullYear() + " 10:10:10"
        console.log(a);
        document.getElementById("c").value = a;

    }

</script>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
        }
