@model IEnumerable<UniversityOfRoommates.Models.Proprietario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Utente.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.iban)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.paypalMe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cartaIdentità)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Utente.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.iban)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.paypalMe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cartaIdentità)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.codiceFiscale }) |
            @Html.ActionLink("Details", "Details", new { id=item.codiceFiscale }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.codiceFiscale })
        </td>
    </tr>
}

</table>
