@model UniversityOfRoommates.Models.Casa
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
@{
    ViewBag.Title = "Delete";
}



<div class="body">
    <div class="login-wrap">

        <div class="login-html">
            <div align="center">
                <h3 style="color:azure">Sicuro di voler eliminare questa casa?</h3>
                <h4>@Html.ActionLink("Torna alla lista", "Index")</h4> 
            </div>
            
            <div>
               



                <div class="group">
                    <label class="UtenteFont">Provincia :  </label>
                    <span class="DetailFont">@Html.DisplayFor(model => model.provincia)</span>
                </div>



                <div class="group">
                    <label class="UtenteFont">Città :  </label>
                    <span class="DetailFont">@Html.DisplayFor(model => model.city)</span>
                </div>



                <div class="group">
                    <label class="UtenteFont">Indirizzo :  </label>
                    <span class="DetailFont">@Html.DisplayFor(model => model.indirizzo)</span>
                </div>



                <div class="group">
                    <label class="UtenteFont">Civico : </label>
                    <span class="DetailFont">@Html.DisplayFor(model => model.civico)</span>
                </div>



                <div class="group">
                    <label class="UtenteFont">Cap :  </label>
                    <span class="DetailFont">@Html.DisplayFor(model => model.cap)</span>
                </div>


                <div class="group">
                    <label class="UtenteFont">Numero di servizi :  </label>
                    <span class="DetailFont">@Html.DisplayFor(model => model.numeroServizi)</span>
                </div>



                <div class="group">
                    <label class="UtenteFont">Metratura interna :  </label>
                    <span class="DetailFont">@Html.DisplayFor(model => model.metraturaInterna)</span>
                </div>



                <div class="group">
                    <label class="UtenteFont">Metratura esterna :  </label>
                    <span class="DetailFont">@Html.DisplayFor(model => model.metraturaEsterna)</span>
                </div>



                <div class="group">
                    <label class="UtenteFont">posto auto :  </label>
                    <span class="DetailFont">@Html.DisplayFor(model => model.postoAuto)</span>
                </div>


                <div class="group">
                    <label class="UtenteFont">Descrizione :  </label>
                    <span class="DetailFont">@Html.DisplayFor(model => model.descrizioneServizi)</span>
                </div>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div align="center">
                        <input type="submit" value="Cancella" class="btn btn-default" /> |
                        
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
}
