@model UniversityOfRoommates.Models.Casa

@{
    ViewBag.Title = "Details";
}
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>


<div class="back">
    <div class="login-wrap">

        <div class="login-html">
            
                <h4>Dettagli casa</h4>
                <hr />

                <div class="group">
                    
                        @Html.LabelFor(model => model.Proprietario.iban, new { @class = "UtenteFont" })
                    </div>

                <div class="group">
                    @Html.DisplayFor(model => model.Proprietario.iban)
                </div>

                <div class="group">
                    @Html.LabelFor(model => model.provincia, new { @class = "UtenteFont" })
                </div>

                <div class="group">
                    @Html.DisplayFor(model => model.provincia, new { @class = "UtenteFont" })
                </div>

                <div class="group">
                    @Html.LabelFor(model => model.city, new { @class = "UtenteFont" })
                </div>

                <div class="group">
                    @Html.DisplayFor(model => model.city, new { @class = "UtenteFont" })
                </div>

                <div class="group">
                    @Html.LabelFor(model => model.indirizzo, new { @class = "UtenteFont" })
                </div>

                <div class="group">
                    @Html.DisplayFor(model => model.indirizzo, new { @class = "UtenteFont" })
                </div>

                <div class="group">
                    @Html.LabelFor(model => model.civico, new { @class = "UtenteFont" })
                </div>

                <div class="group">
                    @Html.DisplayFor(model => model.civico, new { @class = "UtenteFont" })
                </div>

                <div class="group">
                    @Html.LabelFor(model => model.cap, new { @class = "UtenteFont" })
                </div>
                <div class="group">
                    @Html.DisplayFor(model => model.cap, new { @class = "UtenteFont" })
                </div>

                <div class="group">
                    @Html.LabelFor(model => model.numeroServizi, new { @class = "UtenteFont" })
                </div>

                <div class="group">
                    @Html.DisplayFor(model => model.numeroServizi, new { @class = "UtenteFont" })
                </div>

                <div class="group">
                    @Html.LabelFor(model => model.metraturaInterna, new { @class = "UtenteFont" })
                </div>

                <div class="group">
                    @Html.DisplayFor(model => model.metraturaInterna, new { @class = "UtenteFont" })
                </div>

                <div class="group">
                    @Html.LabelFor(model => model.metraturaEsterna, new { @class = "UtenteFont" })
                </div>

                <div class="group">
                    @Html.DisplayFor(model => model.metraturaEsterna, new { @class = "UtenteFont" })
                </div>

                <div class="group">
                    @Html.LabelFor(model => model.postoAuto, new { @class = "UtenteFont" })
                </div>

                <div class="group">
                    @Html.DisplayFor(model => model.postoAuto, new { @class = "UtenteFont" })
                </div>

                <div class="group">
                    @Html.LabelFor(model => model.descrizioneServizi, new { @class = "UtenteFont" })
                </div>

                <div class="group">
                    @Html.DisplayFor(model => model.descrizioneServizi)
                </div>

                                                                                                  
                                                                                                
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
}
