@model UniversityOfRoommates.Models.Casa

@{
    ViewBag.Title = "Edit";
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="body">
        <div class="login-wrap">

            <div class="login-html">
                <div class="form-horizontal">
                    
                    
                    <div align="center">
                        <h2 style="color:azure">Modifica i dati della casa</h2>
                       <h3>< @Html.ActionLink("Torna alla lista", "Index")</h3>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.nomeCasa)

                    @Html.HiddenFor(model => model.longitudine, new { @Value = ViewBag.lon })

                    @Html.HiddenFor(model => model.latitudine, new { @Value = ViewBag.lat })

                       @Html.HiddenFor(model => model.UserName)
                       @Html.HiddenFor(model => model.cap)
                       @Html.HiddenFor(model => model.provincia)
                       @Html.HiddenFor(model => model.city)
                       @Html.HiddenFor(model => model.indirizzo)
                       @Html.HiddenFor(model => model.civico)

                    <div class="form-group">
                        <label class="UtenteFont">Numero servizi  </label>
                        <div class="group">
                            @Html.EditorFor(model => model.numeroServizi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.numeroServizi, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="UtenteFont">metratura interna</label>
                        <div class="group">
                            @Html.EditorFor(model => model.metraturaInterna, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                            @Html.ValidationMessageFor(model => model.metraturaInterna, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="UtenteFont">Metratura esterna  </label>
                        <div class="group">
                            @Html.EditorFor(model => model.metraturaEsterna, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                            @Html.ValidationMessageFor(model => model.metraturaEsterna, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="UtenteFont">Posto auto</label>
                        @Html.EditorFor(model => model.postoAuto)
                        @Html.ValidationMessageFor(model => model.postoAuto, "", new { @class = "text-danger" })
                        
                    </div>

                    <div class="form-group">
                        <label class="UtenteFont">Descrizione  </label>
                        <div class="group">
                            @Html.EditorFor(model => model.descrizioneServizi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.descrizioneServizi, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div align="center">
                            <input type="submit" value="Salva" class="btn btn-default" />
                        </div>
                    </div>
                    <div><iframe src=@Url.Action("../FotoCasas/Create", new { nomeCasa=Model.nomeCasa, lon=Model.longitudine, lat=Model.latitudine }) name="targetframe" allowTransparency="true" scrolling="no" frameborder="0" width="100%"></iframe></div>
                    

                </div>
            </div>
        </div>
    </div>
}




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
}
