@model IEnumerable<UniversityOfRoommates.Models.Circondariato>
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css' />
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{    
    
    string latitudine = "41.9032211303711";
    string longitudine = "12.4956502914429";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
    <head>
        <title>BingMaps</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script type="text/javascript">

            var map;
            var mapOptions;

            function getMap() {
                mapOptions = {
                    credentials: "Aj0uk1jKLE_AeTR029hI7B81ovgMuVioZK_qu7e-qBNSzXwqh_ZvBKx-y0wCsPok"
                    //mapTypeId: Microsoft.Maps.MapTypeId.birdseye
                };
                map = new Microsoft.Maps.Map(document.getElementById("div_map"), mapOptions);
                setView();
                entitiesPush();
            };

            function setView() {
                map.setView({ zoom: 10, center: new Microsoft.Maps.Location(@latitudine, @longitudine) });
            }

            function entitiesPush() {
                @foreach (var item in Model){
                    <text>
                //INFOBOX
                var infobox = new Microsoft.Maps.Infobox(new Microsoft.Maps.Location(@latitudine, @longitudine), {
                    maxHeight: 300,
                    maxWidth: 350,
                    visible: false
                });
                infobox.setMap(map);
                var nomeCasap = '@item.nomeCasa';
                var lonp = '@item.lon'; var latp = '@item.lat';
                //PIN
                var pin = new Microsoft.Maps.Pushpin(new Microsoft.Maps.Location(@item.lat, @item.lon), {
                    color: 'red',
                    enableHoverStyle: true,
                    enableClickedStyle: false
                });
               
                pin.metadata = {
                    title: '@item.nomeCasa',
                    description: '<iframe src="/Casas/DetailsMap?nomeCasa=@item.nomeCasa&longitudine=@item.lon&latitudine=@item.lat" width="420" height="300" allowFullScreen frameBorder="0"></iframe>'
                };

                Microsoft.Maps.Events.addHandler(pin, 'click', function (args) {
                    infobox.setOptions({
                        location: args.target.getLocation(),
                        title: args.target.metadata.title,
                        description: args.target.metadata.description,
                        visible: true
                    });
                    Microsoft.Maps.Events.addHandler(infobox, 'infoboxChanged', function () {
                        if (infobox.getVisible() == false) {
                            args.target.setOptions({ enableClickedStyle: false });
                        }
                        args.target.setOptions({ enableClickedStyle: true });
                    });
                });
                map.entities.push(pin);
                </text>
                }
            }

            function getLocation() {
                var geoLocationProvider = new Microsoft.Maps.GeoLocationProvider(map);
                geoLocationProvider.getCurrentPosition({ showAccuracyCircle: false });
            }

        </script>

    </head>
    <body>
        <br>
        <br>
        <br />
        <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=getMap' async defer></script>
        <div id="div_map" style="width:100%;height:600px;position:relative;border: 10px inset #1f1c1c;background-color:whitesmoke;"></div>        
    </body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
}