@model IEnumerable<UniversityOfRoommates.Models.Casa>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
@{
    ViewBag.Title = "Index";
}


<div class="back">
    <div class="tabCase">
        <div class="login-html">
            <div class="form-horizontal">
                <div align="center">
                    <p>
                        @Html.ActionLink("Aggiungi un casa", "Create")
                    </p>
                </div>
                <table class="table">
                    <tr>
                        <th>
                            <label class="TableFont">Nome casa  </label>
                        </th>
                        <th>
                            <label class="TableFont">Provincia   </label>
                        </th>
                        <th>
                            <label class="TableFont">Città </label>
                        </th>
                        <th>
                            <label class="TableFont">Indirizzo </label>
                        </th>
                        <th>
                            <label class="TableFont">Civico </label>
                        </th>
                        <th>
                            <label class="TableFont">Cap </label>
                        </th>
                        
                        @*<th>
                            <label class="TableFont">Mq int. </label>
                        </th>
                        <th>
                            <label class="TableFont">Mq est. </label>
                        </th>*@
                        <th>
                            <label class="TableFont">Posto auto </label>
                        </th>
                       
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.nomeCasa)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.provincia)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.city)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.indirizzo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.civico)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.cap)
                            </td>
                            
                            @*<td>
                                @Html.DisplayFor(modelItem => item.metraturaInterna)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.metraturaEsterna)
                            </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.postoAuto)
                            </td>
                           
                            <td>
                                <div align="center">
                                    @Html.ActionLink("Modifica", "Edit", new { nomeCasa = item.nomeCasa, longitudine = item.longitudine, latitudine = item.latitudine }) |
                                    @Html.ActionLink("Dettagli", "Details", new { nomeCasa = item.nomeCasa, longitudine = item.longitudine, latitudine = item.latitudine }) |
                                    @Html.ActionLink("Cancella", "Delete", new { nomeCasa = item.nomeCasa, longitudine = item.longitudine, latitudine = item.latitudine })
                                </div>
                            </td>
                        </tr>
                    }

                </table>
                <br />
                <br />

                <br /><br />
                <br />
            </div>
        </div>
    </div>
</div>
            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
                @Scripts.Render("~/bundles/jquery")
                @Scripts.Render("~/bundles/bootstrap")
            }
