@model UniversityOfRoommates.Models.Utente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Utente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Interesse.p1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interesse.p1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cognome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cognome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sesso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sesso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ddn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ddn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cittàProvenienza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cittàProvenienza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cell)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cell)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idInteresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idInteresse)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.codiceFiscale }) |
    @Html.ActionLink("Back to List", "Index")
</p>
