@model IEnumerable<UniversityOfRoommates.Models.Utente>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Interesse.p1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cognome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sesso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ddn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cittàProvenienza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cell)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idInteresse)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Interesse.p1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cognome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sesso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ddn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cittàProvenienza)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cell)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idInteresse)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.codiceFiscale }) |
            @Html.ActionLink("Details", "Details", new { id=item.codiceFiscale }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.codiceFiscale })
        </td>
    </tr>
}

</table>
