@model UniversityOfRoommates.Models.Proprietario
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
@{
    ViewBag.Title = "Create";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="body">
            <div class="login-wrap">
                <div class="login-html">
                    <h4 style="color:azure">Per poter diventare un proprietario di case, aggiungi i seguenti dati :</h4>
                    <div class="form-group">
                        @*<label class="UtenteFont">User id  </label>*@
                        <br />
                            @Html.HiddenFor(model => model.UserId, new { @class = "form-control", @Value = (string)ViewBag.UserName })
                            @*@Html.DropDownList("UserName", null, htmlAttributes: new { @class = "form-control" })*@
                            @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                        
                    </div>

                    <div class="form-group">
                        <label class="UtenteFont">Iban  </label>
                        
                            @Html.EditorFor(model => model.iban, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.iban, "", new { @class = "text-danger" })
                      
                    </div>

                    <div class="form-group">
                        <label class="UtenteFont">Paypal.Me  </label>
                       
                            @Html.EditorFor(model => model.paypalMe, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.paypalMe, "", new { @class = "text-danger" })
                       
                    </div>

                    <div class="form-group">
                        <label class="UtenteFont">Carta di identità </label>
                        
                            @Html.EditorFor(model => model.cartaIdentità, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.cartaIdentità, "", new { @class = "text-danger" })
                        
                    </div>

                    <div class="form-group">
                        
                            <div align="center">
                                <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                           
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
}
