@model UniversityOfRoommates.Models.Proprietario
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

@{
    ViewBag.Title = "Details";
}


<div class="back">
    <div class="mappa-wrap">
        <div class="mappa-html">
            
                <h4 style="color:azure">Dettagli proprietario.</h4>
                <hr />
                
                <div class="group">
                    <label class="UtenteFont">Nome :   </label>



                    <span class="DetailFont"> @Html.DisplayFor(model => model.Utente.nome)</span>
                </div>

                <div class="group">
                    <label class="UtenteFont">Cognome :   </label>



                    <span class="DetailFont">@Html.DisplayFor(model => model.Utente.cognome)</span>
                </div>

                <div class="group">
                    <label class="UtenteFont">Iban :   </label>



                    <span class="DetailFont">@Html.DisplayFor(model => model.iban)</span>
                </div>

                <div class="group">
                    <label class="UtenteFont">Paypal.Me :   </label>



                    <span class="DetailFont"> @Html.DisplayFor(model => model.paypalMe)</span>
                </div>

                <div class="group">
                    <label class="UtenteFont">cellulare :   </label>



                    <span class="DetailFont"> @Html.DisplayFor(model => model.Utente.cell)</span>
                </div>

                    
                </div>
        </div>
    </div>

<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.UserId }) |*@
    @*@Html.ActionLink("Back to List", "Index")*@
</p>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
}




